
h4{
    font-size: 29px  !important;
    ;
}
.image_box{
    padding-inline: 0px;
    
}
.image_box img{
    max-width: 100%;
    height: 100%;
}
.blogitem_container{
    margin-top: 50px;
}
.blog__content{
    margin-inline:0px;
}

.banner__inner-page h2{
    /* color:#f74f22 !important; */
    font-weight: bold;

}